
	<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
		{{outlet header}}
		{{#if context.showNavbar}}
			{{outlet navbar}}
		{{/if}}
	</nav>

<div id="main" class="container">
	<div class="row-fluid wrap">
		{{outlet sidemenu}}
		<section class="well span12" id="body-container">
			{{outlet}}
		</section>
	</div>
</div>

{{#if context.showFooter}}
	{{outlet footer}}
{{/if}}

